WRENCHMODE_STATUS_PROTOCOL = "http"
WRENCHMODE_STATUS_HOST = "localhost:4000"
WRENCHMODE_JWT = "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJEb21haW46MTIiLCJleHAiOjE0NjA2NTY4NzcsImlhdCI6MTQ1ODA2NDg3NywiaXNzIjoiQ3Jhc2hzd2l0Y2giLCJqdGkiOiI3MDIwNTFlOS0wZmNmLTRlZGYtODRlMS0zMWZjMTEzOTg4Y2EiLCJwZW0iOnt9LCJzdWIiOiJEb21haW46MTIiLCJ0eXAiOiJ0b2tlbiJ9.Y90a7cDw_-1qMVW-hMjCR4EZWP8yOhTNrUb4ThPKAa4HsdD7S_z1eGhRrwd3uobIOKnftmYF1TjiHP3WVzlYCA"
